.home .hero.display {
    padding: 60px 0;


    .content {
        text-align: center;
    }

    .content h1 {
        color: $white;
        font-size: 4em;
    }

    .content p {
        @include smooth;
        color: $white;
        font-family: $font_alt;
        font-size: 21px;
        margin-bottom: 60px;
        letter-spacing: -.02em;
    }

}

.divider {
    display: block;
    border-bottom: 1px solid #dee0df;
    color: $primary;
    text-align: center;
    font-size: 18px !important;
    margin: 30px 0;
    position: relative;
    font-weight: 500;

    .text {
        top: 12px;
        background: #fff;
        padding: 0 20px;
        position: relative;
    }
}

.home .container {
    padding: 0 20px;
}

.home .hero pre {
    position: absolute;
    z-index: 2;
    height: 321px;
    top: 46px;
    width: 554px;
    left: 50%;
    margin-left: -278px;
    padding-bottom: 0;
    overflow: hidden;
}

@media all and (max-width: 805px) {
    .home .hero .macbook { display: none; }
    .home .hero .browser-window { display: block; }

    .home .hero pre {
        position: relative;
        height: auto;
        left: auto;
        margin: 0 20px 30px;
        padding-bottom: 0;
        top: auto;
        width: auto;
    }
}
